asgiref==3.2.7
cffi==1.14.0
click==7.1.2
cryptography==2.9.2
Django==3.1.9
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysqlclient==1.4.6
pycparser==2.20
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pytz==2020.1
selenium==3.141.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.9
Werkzeug==1.0.1
